.checkmark {
    color: white;
    background-color: green;
    border-radius: 3px;
    margin-right: 2px;
    padding: 2px;
}

.pendingCheckmark {
    background-color: orange;
    color: white;
    border-radius: 3px;
    margin-right: 2px;
    padding: 2px;
}